node_modules
test/performance-results
test-results
test-coverage

*.spec.js
*.spec.ts
jasmine-runner-api.js

dist
_docs
build

package-lock.json

src/lib/tests/*.ts

# Remove all copied JS files from linting. They will be linted once converted to TypeScript.
src/components/**/*.js
