@mixin material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;  /* Preferred icon size */
  display: inline-block;
  // line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
