@import "./mixins";

@font-face {
  font-family: 'Material Icons Filled';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('../../static/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons-filled {
  font-family: 'Material Icons Filled';
  @include material-icons;
}
