@import "../../styles/variables";

.toast {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--opposite-background-color);
  color: var(--opposite-color);
  z-index: 100000;
  max-width: 750px;
  width: 100%;
  padding: 8px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;

  @media (max-width: $mdMax) {
    bottom: 75px;
    max-width: 90vw;
  }

  &.error {
    background-color: $errorColor;
    color: #000000;
  }

  .message {
    flex-grow: 1;
  }

  .closeButton {
    cursor: pointer;
    transition: background-color 150ms;
    user-select: none;
    padding: 0 6px;
    border-radius: 5px;

    &:hover:not(:disabled) {
      background-color: rgba(100, 100, 100, 0.3);
    }

    &:active:not(:disabled) {
      background-color: rgba(100, 100, 100, 0.6);
    }
  }
}
