@import "../../styles/variables";

.content {
  $titleHeight: 50px;

  padding: $dialogPadding;
  width: 100%;
  height: calc(100% - #{$titleHeight});
  overflow: auto;

  @media (max-width: $xsMax) {
    min-width: 80vw;
  }
}
